.flex {
    display: flex;
    border: 1px solid #ccc;
}

.cabecalho {
    /* align-items: flex-end; */
    justify-content: space-between;
    flex: 1;
    color: tomato;
}
.nome {
    font-size: 2vw;
}

.texto {
    font-size: 1vw;
}

.experiencia {
    flex: 2 20vh;
    height: 20vh;
}

.portfolio {
    font-size: 1vw;
    flex: 2 50vh;
    height: 50vh;
}