* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #269eb6;
    color: #171A21;
}

body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 160%;
}

header {
    text-align: center;
    color: #D6D1CD;
    margin-top: 32px;
}

header h1 {
    font-style: italic;
}

h2 {
    color: #D6D1CD;
    font-weight: 500;
    font-size: 25px;
    /*font: bolder;*/
    line-height: 50px;
}

main {
    display: block;
    max-width: 580px;
    width: 80vw;
    margin: 50px auto;
}

section {
    color: #171A21;
    margin: 0 0 30px 0;
}

section div {
    background-color: #93cdd974;
    /* background-color: #e56b6f38; */
    padding: 25px 30px 30px;
    border-radius: 45px;
}